// Imports
@import 'reset.scss';
@import 'functions.scss';

// Variables
$prefixes: ms;
$group-width : 450px;
$group-height: 500px;
$element-height: 214px;
$element-width: 194px;
$prefixes: ms;


@font-face {
    @include Font('Icomoon','/fonts/icomoon/','icomoon');
}

body, html {
	height: 100%;
	width: 100%;
	font-family: 'Segoe UI';
	background: url('../images/fondo.png');
}

#wrapper, #home {
	height: 100%;
	width: 100%;
}

#header {
	height: 20%;
	padding-top: 30px;
}

#list {
	height: 80%;
}

.back {
	padding: 10px;
    &::before {
        content: "\E0BA";
		font-size: 3em;
		padding-right: 5px;
    }
}

.icon-after{
	&::after{
		font-family: 'Segoe UI Symbol';
	}
}

.icon-before{
	&::before{
		font-family: 'Segoe UI Symbol';
	}
}

.loadmore{
	background: rgba(white,0.8);
	display: none;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	width: 10%;

	progress{
		color: black;
		-ms-transform: rotate(90deg);
		width: 400%;
		position: absolute;
		top: 50%;
		right: -150%;
		height: 40px;
	}
}

#list{
		@include ValuePrefix("display","flex");
		@include PropPrefix("flex", "1 auto");
		@include PropPrefix("flex-flow", "row nowrap");
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;

		&.group {
			height: 80%;
			width : 100%;
			display: flex;
			@include ValuePrefix("display","flex");
			@include PropPrefix("flex-flow", "column wrap");

			div.box {
				position: relative;
				width: $element-width;
				margin: $element-height*0.05;
				height: $element-height;
				background-color: white;
				background-size: cover;
				cursor: pointer;

				div{
					position: relative;
					background: rgba(white,0.3);
					color: black;
					font-size: 1.5em;
					font-weight: normal;
					text-transform: normal;
					height: 30px;
					margin-top: ($element-height)-(50px);
					padding-left: 10px;
					padding-top: 1px;
					text-shadow: 0px 0px 3px rgba(255, 255, 255,0.8);
					width: 100%;
					overflow: hidden;
					white-space: pre-wrap;

					@media screen and (view-state: snapped){
						margin-top: ($element-height/2)-(54px);
					}
				}

				&:before{
					content: ' ';
					font-family: Icomoon;
					font-size: 1.4em;
					height: 20px;
					position: absolute;
					left: 5px;
					top: 5px;
					text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.51);
				}

				&.female:before{
					content : "\e001";
				}

				&.male:before{
					content : "\e000";
				}

				@media screen and (view-state: snapped) {
					background-position: 0 -50px;
					height: $element-height/ 2;
					width: 100%;
					background-size: cover;
				}
			}

			&.list{
				@media screen and (view-state: snapped) {
					padding-left: 40px;
				}
			}

			@media screen and (view-state: snapped) {
				margin-left: 0;
				height: 100%;
				width: 90%;
				@include PropPrefix("flex-flow", "column nowrap");
			}

			
		}

		@media screen and (view-state: snapped) {
			height: 90%;
			width: 100%;
		}
	}


#filters_tab, #logo{
	float: left;
	margin-left: 50px;
}
.filter-tab {
	float: left;
	background: rgba(#ad0707, 0.1);
	font-size: 1.3em;
	
	color: #848484;
	padding: 10px;
	margin: 30px 50px 0 0;
	cursor: pointer;
	opacity: 0.4;

	&.selected {
		opacity: 1;
		color: #ad0707;
	}

	&:hover {
		color: white;
		background: #c90909;
	}
}

#langs {
	margin-top: 30px;
	float: right;
	background: rgba(white, 0.8);
}
.lang-tab {
	float: right;
	font-size: 1.3em;
	
	color: #848484;
	padding: 10px;
	cursor: pointer;
	opacity: 0.4;

	&.selected {
		opacity: 1;
		color: #ad0707;
	}

	&.deactivated{
		&:hover {
			color: #848484;
			background: rgba(white, 0.8);
		}
	}

	&:hover {
		color: white;
		background: #c90909;
	}
}

#viewmore {
	cursor: pointer;
	background-color: #ad0707 !important;
	
	div {
		background: rgba(white, 0)  !important;
		color: white  !important;
		text-shadow: 0px 0px 0px rgba(255, 255, 255,0) !important;
	}
}

#fichafondo{
	background: rgba(black,0.4);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

#ficha{
	@include CenterVH(60%,600px);
	color: black;
	background: white;
	z-index: 200;

	.table{
			
		display: table;
		padding-top: 20px;
		width: 100%;

		.cell:first-child{
			display: table-cell;
			width: 30%;
			height: 300px;
			padding-left: 10%;
			//background: url('http:\/\/www.mundoanimalia.com\/images\/protectora\/ejemplares\/55\/40\/73\/83f97f4825290be4cb794ec6a234595f\/B08_361.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 20px 0;
		}

		.cell:last-child{
			display: table-cell;
			font-size: 1.3em;
			width: 58%;
			padding-left: 2%;
		}
	}

	.texto{
		margin: 20px auto;
		padding: 20px;
		height: 200px;
		width: 90%;
		overflow-y: scroll;
		overflow-x: hidden;

		&:after{
			color: black;
			font-weight: bold;
			padding-top: 10px;
			content:"Contenido gracias a MundoAnimalia.com";
		}
	}
}

.hide {
display: none;
}